#Mon Aug 03 13:31:01 CDT 2020
user.last_ship=0
user.last_team=1
user.last_room_index=1
user.username=Grow Up
user.height=600
user.width=800
user.ally_room=6
user.room_locations=4973\:5647,4974\:9875,4970\:1783,4971\:2777,4999\:6542,4998\:0000
user.last_address=growup.ddns.net
user.last_resolution=0
